*body{
    height: 50vh;
    align-items: center;
}
.btn {
  width: 200px;
  height: 50px;
  cursor: pointer;
  border: none;
  background: green;
  color:#fff;
  text-transform: uppercase;
  font-family: Arial;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 40px;
  outline: none;
  transition:0.2s;
}
.btn:hover {
    transform: translateY(-5px);
    box-shadow:0 7px 0 darkgreen;
    color: #d5d5d5;
}
.btn:active {
    transform: translateY(-2px);
    box-shadow:0 3px 0 darkgreen;
}